<IfModule mod_rewrite.c>
    RewriteEngine On

    # Jika request BUKAN file / folder yang ada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect ke public/
    RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
# Deny access to .env file
<Files .env>
    Order allow,deny
    Deny from all
</Files>
